<!DOCTYPE html>
<html>
@using QuanLyKho.Utility
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>@ViewBag.Title</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/Content/assets/images/favicon.png">


    <link href="/Content/css/stylePrint.css" rel="stylesheet">
    @*<link href="/Content/css/main.css" rel="stylesheet">*@
    @RenderSection("styles", false)
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
</head>
<body style="font-weight: 400;font-family: 'Times New Roman'">
    <!--**********************************
        Main wrapper start
    ***********************************-->



        @RenderBody()



    <!--**********************************
        Scripts
    ***********************************-->




</body>
</html>
