@using QuanLyKho.Utility
@{
    var laAdmin = Global.IsAdmin();
}
<div class="nk-sidebar sidebar-crmnt">
    <div class="nk-nav-scroll">

        <ul class="metismenu" id="menu">
            @if (laAdmin)
            {
                <li>
                    <a href="/he-thong/quan-ly-tai-khoan" aria-expanded="false"><i class="mdi mdi-cogs"></i> <span class="nav-text">Quản lý tài khoản</span></a>
                </li>
            }
            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false"><i class="mdi mdi-cogs"></i> <span class="nav-text">Danh mục</span></a>
                <ul aria-expanded="false">
                    <li><a href="/he-thong/quan-ly-san-pham"><i class="fas fa-caret-right"></i>Danh sách sản phẩm</a></li>
                    <li><a href="/he-thong/danh-muc-kho"><i class="fas fa-caret-right"></i>Danh mục kho</a></li>
                    <li><a href="/he-thong/nhom-vat-tu"><i class="fas fa-caret-right"></i>Nhóm vật tư</a></li>
                </ul>
            </li>
            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false"><i class="mdi mdi-chart-bar"></i> <span class="nav-text">Giao dịch kho</span></a>
                <ul aria-expanded="false">
                    <li><a href="/kho/danh-sach-nhap-kho" aria-expanded="false"><i class="fas fa-caret-right"></i> <span class="nav-text">Danh sách nhập kho</span></a></li>
                    <li><a href="/kho/danh-sach-xuat-kho" aria-expanded="false"><i class="fas fa-caret-right"></i> <span class="nav-text">Danh sách xuất kho</span></a></li>
                </ul>
            </li>
            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false"><i class="mdi mdi-clipboard-text-outline"></i> <span class="nav-text">Báo cáo</span></a>
                <ul aria-expanded="false">
                    <li><a href="/he-thong/ton-kho" aria-expanded="false"><i class="fas fa-caret-right"></i> <span class="nav-text">Tồn kho</span></a></li>
                    <li><a href="/he-thong/the-kho" aria-expanded="false"><i class="fas fa-caret-right"></i> <span class="nav-text">Thẻ kho</span></a></li>
                    <li><a href="/he-thong/bao-cao-xuat-nhap-ton" aria-expanded="false"><i class="fas fa-caret-right"></i> <span class="nav-text">Báo cáo xuất nhập tồn</span></a></li>
                    <li><a href="/he-thong/bao-cao-xuat-khoa-phong" aria-expanded="false"><i class="fas fa-caret-right"></i> <span class="nav-text">Báo cáo xuất khoa phòng</span></a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="footer footer-crmnt">
        <div class="copyright">
            <p>&copy; 2026<br /> Bệnh viện K </p>
        </div>
    </div>
</div> 
