@using QuanLyKho.Utility
@using BusinessLogic.Utils;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row content-all-crmnt">
    <div class="col-sm-12">
        <div class="tab-content br-n pn">
            <div class="content-tab-crmnt ">
                <div class="row">
                    <div class="col-xl-2 col-sm-2 content-bg">
                        <div class="form-group ">
                            <input type="text" id="txtsSearch" class="form-control input-sm" value="" name="fname" placeholder="Tên, mã sản phẩm">
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-3 content-bg">
                        <div class="form-group">
                            <label class="text-label sr-only" for="ddlNhomVatTu">Nhóm vật tư</label>
                            @Html.DropDownList("ddlNhomVatTu", new SelectList(SelectData.ComboNhomVatTuTimKiem(), "Value", "Text"), new { @class = "form-control select2", @id = "ddlNhomVatTu" })
                        </div>
                    </div>

                    <div class="col-xl-2 col-sm-2 content-bg">
                        <div class="form-group ">
                            <button type="button" class="btn btn-search-crmnt mb-2" onclick="DanhSachSanPham(1)" id="btnTimKiem">Tìm kiếm</button>
                        </div>
                    </div>
                    <div class="col-xl-2 col-sm-2">
                    </div>
                    @if (Global.IsAdmin())
                    {
                        <div class="col-xl-3 col-sm-3 content-bg">
                            <div class="form-group">
                                <button type="button" class="btn btn-main" onclick="FormSanPham('')"><i class="ti-plus"></i>Thêm mới</button>
                            </div>
                        </div>
                    }
                </div>
            </div>

            <div class="table-crmnt table-job" id="content_Truong">

            </div>

        </div>
    </div>
</div>
<div class="modal popup-detail fade" id="modalTruong" role="dialog" data-backdrop="static"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
</div>



<div class="modal fade" id="modelDelete" tabindex="-1" role="dialog" data-backdrop="static"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Xóa</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="ti-close"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <span class="text-delete">Bạn có chắc chắn muốn xóa sản phẩm này không?</span>
                <input type="hidden" id="delete_id" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-main" onclick="ActionDelete()"><i class="ti-trash"></i>Xóa</button>
                <button type="button" class="btn btn-main" data-dismiss="modal"><i class="ti-close"></i>Đóng</button>
            </div>
        </div>
    </div>
</div>


<!---Lịch sử-->
<div class="modal fade" id="exampleModalDetail" tabindex="-1" role="dialog" data-backdrop="static"
     aria-labelledby="exampleModalLabel" aria-hidden="true">

</div>
<div class="modal fade" id="modelReset" tabindex="-1" role="dialog" data-backdrop="static"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Đặt lại mật khẩu</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="ti-close"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <span class="text-delete">Bạn có chắc chắn muốn đặt lại mật khẩu về mặc định?</span>
                <input type="hidden" id="reset_id" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-main" onclick="KhoaOrMo()"><i class="ti-check"></i>Đồng ý</button>
                <button type="button" class="btn btn-main" data-dismiss="modal"><i class="ti-close"></i>Đóng</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $(".select2").select2();
        DanhSachSanPham(1);
     });
    $("#txtsSearch").on('keypress', function (e) {
        if (e.keyCode === 13) {
            DanhSachSanPham(1);
        }
    });

    function DanhSachSanPham(pageIndex) {
       var sSearch = $("#txtsSearch").val();
        var idNhom = $("#ddlNhomVatTu").val();
        var reqData = { pageIndex: pageIndex, sSearch: sSearch };
        if (idNhom && idNhom.length > 0)
            reqData.idNhomVatTu = idNhom;
        $("#LoadingModal").modal('show');
        $.ajax({
            type: "GET",
            url: '@Url.Action("DanhSachSanPham")',
            data: reqData,
            dataType: "html",
            success: function (data) {
                $("#content_Truong").html(data);
                setTimeout(function () { $("#LoadingModal").modal('hide'); }, 1000);
            }
        });
    }
    function KhoaOrMo(id, isDaKhoa) {
        $.ajax({
            type: "POST",
            url: '/QuanLyTaiKhoan/KhoaOrMo',
            data: {
                Id: id,
                IsDaKhoa: isDaKhoa
            },
            dataType: "json",
            success: function (data) {
                if (data.Sucess) {
                    DanhSachSanPham($("#pageIndex").val());
                    toastr.success("Thao tác thành công.", "Thông báo", { timeOut: 5e3, closeButton: !0, debug: !1, newestOnTop: !0, progressBar: !0, positionClass: "toast-top-right", preventDuplicates: !0, onclick: null, showDuration: "300", hideDuration: "1000", extendedTimeOut: "1000", showEasing: "swing", hideEasing: "linear", showMethod: "fadeIn", hideMethod: "fadeOut", tapToDismiss: !1 })
                } else {
                    toastr.error(data.Errors, "Cảnh báo", { timeOut: 5e3, closeButton: !0, debug: !1, newestOnTop: !0, progressBar: !0, positionClass: "toast-top-right", preventDuplicates: !0, onclick: null, showDuration: "300", hideDuration: "1000", extendedTimeOut: "1000", showEasing: "swing", hideEasing: "linear", showMethod: "fadeIn", hideMethod: "fadeOut", tapToDismiss: !1 })
                }
            }
        });
        $(".modal-backdrop").remove();
    }
    function pagingData(pageIndex) {
        DanhSachSanPham(pageIndex);
    }

    function FormSanPham(id) {
        $.ajax({
            type: "GET",
            url: '/QuanLySanPham/FormSanPham',
            data: { id: id },
            dataType: "html",
            success: function (data) {
                $("#modalTruong").html(data);
                $("#modalTruong").modal('show')
            }
        });
    }

    function DeleteSanPham(id) {
        $("#modelDelete").modal("show");
        $("#delete_id").val(id);
    }

    function ActionDelete() {
        $("#modelDelete").modal("hide");
        $.ajax({
            type: "POST",
            url: '/QuanLySanPham/XoaSanPham',
            data: { id: $("#delete_id").val() },
            dataType: "json",
            success: function (data) {
                if (data.Sucess) {
                    DanhSachSanPham($("#pageIndex").val());
                    toastr.success("Xóa thành công.", "Thông báo", { timeOut: 5e3, closeButton: !0, debug: !1, newestOnTop: !0, progressBar: !0, positionClass: "toast-top-right", preventDuplicates: !0, onclick: null, showDuration: "300", hideDuration: "1000", extendedTimeOut: "1000", showEasing: "swing", hideEasing: "linear", showMethod: "fadeIn", hideMethod: "fadeOut", tapToDismiss: !1 })
                }
            }
        });
        $(".modal-backdrop").remove();
    }

</script>
