@model BusinessLogic.Model.KhoGiaoDichModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Xuất kho";
}

<div class="row content-all-crmnt">
    <div class="col-sm-12">
        <div class="tab-content br-n pn">
            <div class="content-tab-crmnt">
                <div class="d-flex justify-content-between align-items-center">
                    <h4 class="card-title mb-0">Xuất kho</h4>
                    <a href="@Url.Action("IndexXuatKho", "QuanLyGiaoDichNhapXuat")" class="btn btn-main"><i class="ti-arrow-left"></i>Danh sách xuất kho</a>
                </div>
            </div>
            <div class="xuat-kho-standalone">
                @Html.Partial("_FormXuatKho", Model)
            </div>
        </div>
    </div>
</div>

@section scripts {
    @Html.Partial("_XuatKhoScripts")
}
