@using QuanLyKho.Utility
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row content-all-crmnt">
    <div class="col-sm-12">
        <div class="tab-content br-n pn">
            <div class="content-tab-crmnt">
                <div class="row">
                    <div class="col-xl-3 col-sm-3 content-bg">
                        <div class="form-group">
                            <input type="text" id="txtSearch" class="form-control input-sm" placeholder="Mã kho / Tên kho">
                        </div>
                    </div>
                    <div class="col-xl-2 col-sm-2 content-bg">
                        <div class="form-group">
                            <button type="button" class="btn btn-search-crmnt mb-2" onclick="DanhSachDanhMucKho(1)" id="btnTimKiem">Tìm kiếm</button>
                        </div>
                    </div>
                    <div class="col-xl-4 col-sm-4"></div>
                    @if (Global.IsAdmin())
                    {
                        <div class="col-xl-3 col-sm-3 content-bg">
                            <div class="form-group">
                                <button type="button" class="btn btn-main" onclick="FormDanhMucKho('')"><i class="ti-plus"></i>Thêm mới</button>
                            </div>
                        </div>
                    }
                </div>
            </div>

            <div class="table-crmnt table-job" id="content_DanhMucKho"></div>
        </div>
    </div>
</div>

<div class="modal popup-detail fade" id="modalDanhMucKho" role="dialog" data-backdrop="static" aria-hidden="true"></div>

<div class="modal fade" id="modelDelete" tabindex="-1" role="dialog" data-backdrop="static" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xóa</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="ti-close"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <span class="text-delete">Bạn có chắc chắn muốn xóa kho này không?</span>
                <input type="hidden" id="delete_id" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-main" onclick="ActionDelete()"><i class="ti-trash"></i>Xóa</button>
                <button type="button" class="btn btn-main" data-dismiss="modal"><i class="ti-close"></i>Đóng</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        DanhSachDanhMucKho(1);
    });

    $("#txtSearch").on('keypress', function (e) {
        if (e.keyCode === 13) {
            DanhSachDanhMucKho(1);
        }
    });

    function DanhSachDanhMucKho(pageIndex) {
        var sSearch = $("#txtSearch").val();
        $("#LoadingModal").modal('show');
        $.ajax({
            type: "GET",
            url: '@Url.Action("DanhSachDanhMucKho")',
            data: { pageIndex: pageIndex, sSearch: sSearch },
            dataType: "html",
            success: function (data) {
                $("#content_DanhMucKho").html(data);
                setTimeout(function () { $("#LoadingModal").modal('hide'); }, 500);
            }
        });
    }

    function pagingData(pageIndex) {
        DanhSachDanhMucKho(pageIndex);
    }

    function FormDanhMucKho(id) {
        $.ajax({
            type: "GET",
            url: '/QuanLyDanhMucKho/FormDanhMucKho',
            data: { id: id },
            dataType: "html",
            success: function (data) {
                $("#modalDanhMucKho").html(data);
                $("#modalDanhMucKho").modal('show')
            }
        });
    }

    function DeleteDanhMucKho(id) {
        $("#modelDelete").modal("show");
        $("#delete_id").val(id);
    }

    function ActionDelete() {
        $("#modelDelete").modal("hide");
        $.ajax({
            type: "POST",
            url: '/QuanLyDanhMucKho/XoaDanhMucKho',
            data: { id: $("#delete_id").val() },
            dataType: "json",
            success: function (data) {
                if (data.Sucess) {
                    DanhSachDanhMucKho($("#pageIndex").val());
                    toastr.success("Xóa thành công.", "Thông báo", { timeOut: 5e3, closeButton: !0, debug: !1, newestOnTop: !0, progressBar: !0, positionClass: "toast-top-right", preventDuplicates: !0 })
                } else {
                    toastr.warning("Không thể xóa dữ liệu.", "Cảnh báo", { timeOut: 5e3, closeButton: !0, debug: !1, newestOnTop: !0, progressBar: !0, positionClass: "toast-top-right", preventDuplicates: !0 })
                }
            }
        });
        $(".modal-backdrop").remove();
    }
</script>

